server:
  port: 5278

logging:
  level: INFO

spring:
  datasource:
    initialize: false
    url: jdbc:mysql://localhost/production-location?useUnicode=yes&characterEncoding=UTF-8
    username: mysqltest
    password: mysqltest
  hikari-datasource:
    cachePrepStmts: true
    prepStmtCacheSize: 250
    prepStmtCacheSqlLimit: 2048
    useServerPrepStmts: true
  jpa:
    generate-ddl: false
    database-platform: org.hibernate.spatial.dialect.mysql.MySQLSpatialInnoDBDialect
    hibernate:
      show_sql: false
      ddl-auto: none

liquibase:
  enabled: false
  check-change-log-location: true

custom:
  management:
    security:
      access: hasIpAddress('127.0.0.1') or hasIpAddress('0:0:0:0:0:0:0:1')
  lucene:
    index:
      path: lucene/index
ncu:
  oauth:
    api-token: your-api-token
    server-path: https://localhost/oauth